body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.background-blur {
    position: fixed;
    top: -10px;  /* expande para fora da tela */
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url("assets/purple2-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px); 
    z-index: -1;
}


.inicio {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--accent-text);
  padding: 2rem; 
  margin: auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  justify-content: center;
  text-align: center; 
}

.inicio h1 {
    color: #8b70b2;
    margin-bottom: 15px;
    font-size: 35px;
}

.inicio p {
    color: #62448c;
    margin-bottom: 30px;
    font-size: 23px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 12px 18px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #62448c;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.btn i {
    margin-right: 8px;
}
.btn:hover {
    background: #442b68;
    transform: translateY(-3px);
}